.appBody {
	display: flex;
  	min-height: 727px;
}

.horizontalOrder {
	display: flex;
	justify-content: flex-start;
	margin: 10px 0 10px 0;
}

.verticalOrder {
	display: flex;
	flex-direction: column;
}

.leftSide {
	width: 50%;
	margin: 10px 0 10px 0;
}

.rightSide {
	width: 50%;
	
	margin: 10px 0 10px 0;

	/*background-color: blue;*/
}

.codeComponentHolder {
	margin: 10px 5px 10px 5px;
}